.button {
   border: 1px solid transparent; 
   text-decoration: none;
   padding-block: .5rem;
   padding-inline: 1rem;
   border-radius: .25rem;
   cursor: pointer;
   font: var(--button-button);
   outline: none;
}
.button i {
    vertical-align: middle;
    font-size: 1.5rem;
    color: var(--gray50);
}

.button:active {
    transform: scale(.95);
}

.button.is-primary {
    background: var(--blue10);
    color: var(--white);
}

.button.is-primary:focus,
.button.is-primary:hover {
    background: var(--blue20);
}
.button.is-secundary {
    border: 1px solid var(--gray20);
    color: var(--gray30);
    background: white;
}

.button.is-secundary:focus,
.button.is-secundary:hover,
.button.btnIconText:focus,
.button.btnIconText:hover,
.button.btnIcon:focus,
.button.btnIcon:hover {
    background: var(--gray10);
}

.btnIconText {
    border-radius: 1.25rem;
    box-shadow: 1.0719px 30.9815px 92px rgba(0, 0, 0, 0.0274815), 0.412881px 11.9336px 29.3037px rgba(0, 0, 0, 0.0425185), 0.0873403px 2.52442px 7.4963px rgba(0, 0, 0, 0.07);
    background: var(--white);
   
}

.btnIconText span {
    color: var(--blue10);
    margin-inline-start: .25rem;
}

.btnIcon {
    padding: .5rem ;
    border-radius: 50%;
    box-shadow: 1.0719px 30.9815px 92px rgba(0, 0, 0, 0.0274815), 0.412881px 11.9336px 29.3037px rgba(0, 0, 0, 0.0425185), 0.0873403px 2.52442px 7.4963px rgba(0, 0, 0, 0.07);
    
}


