@import './form-modal.css';
@import './contAgregar-invitados.css';
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 3;
    --width-modal: 28rem;
    --height-modal: 35.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentModal {
    inline-size: var(--width-modal);
    block-size: var(--height-modal);
    background: var(--white);
    padding-inline: 3rem;
    padding-block-start: 1.5rem;
    border-radius: .25rem;
    box-shadow: 1.0719px 30.9815px 92px rgba(0, 0, 0, 0.0274815), 0.412881px 11.9336px 29.3037px rgba(0, 0, 0, 0.0425185), 0.0873403px 2.52442px 7.4963px rgba(0, 0, 0, 0.07);
}

.modalActions {
    text-align: end;
    margin-block-start: 1.5rem;
}