.search {
    position: relative;
}

.search input {
    border: none;
    inline-size: 100%;
    background: var(--gray10);
    border-radius: .25rem;
    padding-block: .625rem;
    padding-inline-start: 2.5rem;
    font: var(--body1-regular);
    outline: none;
}

.search i {
    position: absolute;
    font-size: 1rem;
    top: calc(50% - .5rem);
    left: 1rem;
    color: var(--gray50);
}
.search input:focus {
   box-shadow:  0 1px 0 var(--blue10);
   box-sizing: border-box;
}

.search:focus-within i {
    color: var(--gray20);
}

.search input::-webkit-input-placeholder {
    color: var(--gray20);
}